'fileTypes': [
    'comm'
    'com'
    'command'
]
'name': 'Command'
'patterns': [
    {
        'name': 'comment.line.number-sign'
        'begin': '#'
        'end': '$'
    }
    {
        'name': 'variable.other'
        'match': '/'
    }
    {
        'name': 'keyword.other'
        'match': 'achievement'
    }
    {
        'name': 'keyword.other'
        'match': 'ban'
    }
    {
        'name': 'keyword.other'
        'match': 'ban-ip'
    }
    {
        'name': 'keyword.other'
        'match': 'banlist'
    }
    {
        'name': 'keyword.other'
        'match': 'blockdata'
    }
]
'scopeName': 'source.command'
