'fileTypes': [
    'comm'
    'com'
    'command'
]
'name': 'Command'
'patterns': [
    {
        'name': 'support.function'
        'match': 'hello'
    }
    {
        'name': 'comment.line.number-sign'
        'begin': '#'
        'end': '$'
    }
    {
        'name': 'constant.language'
        'match': '\\@[apre](\\[.*?\\])?'
    }
    {
        'name': 'string.quoted.double'
        'match': '\\".*?\\"'
    }
    {
        'name': 'markup.bold'
        'match': '[0-9][bsf]?'
    }
    {
        'name': 'variable.other'
        'match': '[\\!\\^\\&\\,\\:\\;\\%\\/\\*\\-\\+\\~\\=]'
    }
    {
        'name': 'support.function'
        'match': 'achievement'
    }
    {
        'name': 'support.function'
        'match': 'ban'
    }
    {
        'name': 'support.function'
        'match': 'ban-ip'
    }
    {
        'name': 'support.function'
        'match': 'banlist'
    }
    {
        'name': 'support.function'
        'match': 'blockdata'
    }
    {
        'name': 'support.function'
        'match': 'clear'
    }
    {
        'name': 'support.function'
        'match': 'clone'
    }
    {
        'name': 'support.function'
        'match': 'debug'
    }
    {
        'name': 'support.function'
        'match': 'defaultgamemode'
    }
    {
        'name': 'support.function'
        'match': 'deop'
    }
    {
        'name': 'support.function'
        'match': 'difficulty'
    }
    {
        'name': 'support.function'
        'match': 'effect'
    }
    {
        'name': 'support.function'
        'match': 'enchant'
    }
    {
        'name': 'support.function'
        'match': 'entitydata'
    }
    {
        'name': 'support.function'
        'match': 'execute'
    }
    {
        'name': 'support.function'
        'match': 'fill'
    }
    {
        'name': 'support.function'
        'match': 'gamemode'
    }
    {
        'name': 'support.function'
        'match': 'gamerule'
    }
    {
        'name': 'support.function'
        'match': 'give'
    }
    {
        'name': 'support.function'
        'match': 'help'
    }
    {
        'name': 'support.function'
        'match': 'kick'
    }
    {
        'name': 'support.function'
        'match': 'kill'
    }
    {
        'name': 'support.function'
        'match': 'list'
    }
    {
        'name': 'support.function'
        'match': 'me'
    }
    {
        'name': 'support.function'
        'match': 'op'
    }
    {
        'name': 'support.function'
        'match': 'pardon'
    }
    {
        'name': 'support.function'
        'match': 'pardon-ip'
    }
    {
        'name': 'support.function'
        'match': 'particle'
    }
    {
        'name': 'support.function'
        'match': 'playsound'
    }
    {
        'name': 'support.function'
        'match': 'replaceitem'
    }
    {
        'name': 'support.function'
        'match': 'save-all'
    }
    {
        'name': 'support.function'
        'match': 'save-on'
    }
    {
        'name': 'support.function'
        'match': 'save-off'
    }
    {
        'name': 'support.function'
        'match': 'say'
    }
    {
        'name': 'support.function'
        'match': 'scoreboard'
    }
    {
        'name': 'support.function'
        'match': 'seed'
    }
    {
        'name': 'support.function'
        'match': 'setblock'
    }
    {
        'name': 'support.function'
        'match': 'setidletimeout'
    }
    {
        'name': 'support.function'
        'match': 'setworldspawn'
    }
    {
        'name': 'support.function'
        'match': 'spawnpoint'
    }
    {
        'name': 'support.function'
        'match': 'spreadplayers'
    }
    {
        'name': 'support.function'
        'match': 'stats'
    }
    {
        'name': 'support.function'
        'match': 'stop'
    }
    {
        'name': 'support.function'
        'match': 'summon'
    }
    {
        'name': 'support.function'
        'match': 'tell'
    }
    {
        'name': 'support.function'
        'match': 'tellraw'
    }
    {
        'name': 'support.function'
        'match': 'testfor'
    }
    {
        'name': 'support.function'
        'match': 'testforblock'
    }
    {
        'name': 'support.function'
        'match': 'testforblocks'
    }
    {
        'name': 'support.function'
        'match': 'time'
    }
    {
        'name': 'support.function'
        'match': 'title'
    }
    {
        'name': 'support.function'
        'match': 'toggledownfall'
    }
    {
        'name': 'support.function'
        'match': 'tp'
    }
    {
        'name': 'support.function'
        'match': 'trigger'
    }
    {
        'name': 'support.function'
        'match': 'weather'
    }
    {
        'name': 'support.function'
        'match': 'whitelist'
    }
    {
        'name': 'support.function'
        'match': 'worldborder'
    }
    {
        'name': 'support.function'
        'match': 'xp'
    }
    {
        'name': 'support.function'
        'match': 'players'
    }
    {
        'name': 'support.function'
        'match': 'set'
    }
    {
        'name': 'support.function'
        'match': 'add'
    }
    {
        'name': 'support.function'
        'match': 'tag'
    }
    {
        'name': 'support.function'
        'match': 'remove'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?speed'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?slowness'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?haste'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?mining_fatigue'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?strength'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?instant_health'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?instant_damage'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?jump_boost'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?nausea'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?regeneration'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?resistance'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?fire_resistance'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?water_breathing'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?invisibility'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?blindness'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?night_vision'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?hunger'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?weakness'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?poison'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?wither'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?health_boost'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?absorption'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?saturation'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?glowing'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?levitation'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?luck'
    }
    {
        'name': 'keyword.other'
        'match': '(minecraft\\:)?unluck'
    }
]
'scopeName': 'source.command'
